.button.first{
    background-color: black;
    color: white;
}

.button.second{
    background-color: yellow
}

.button{
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}