body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin: auto auto 8px auto;
  padding: 8px 0;
  font-size: inherit;
}

.content {
  background: #e3f4ff;
  padding: 8px 0;
}

.button-container {
  background: #e3f4ff;
  width: 400px;
  margin-top: 8px;
  text-align: center;
  padding-bottom: 2px;
  padding: 8px 0;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: auto;
}